body {
    margin: 0;
}

header {
    height: 96px;
    background-color: rgb(255,127,1); 
    font-family: 'Fasthand', cursive;
    padding: 24px 32px;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.header-left {
    display: flex;
    align-items: center;
}

.imgSubHeader img {
    height: 224px;
    width: 75%;
    object-fit: cover;
}

.SubHeader {
    height: 96px;
    background-color: white;
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: center;
    font-family: 'Fasthand', cursive;
    padding: 0px 5%;
}

.reviews {
    color: rgb(255,127,1); 
    font-size: smaller;
}

.dishHeadline {
    width: 65%;
    height: 64px;
    background-color: rgb(239,237,234);
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 24px;
    font-family: 'Fasthand', cursive;
    margin-left: 5%;
    border-radius: 6px;
}

.card {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(239,237,234);
    border-radius: 6px;
    margin-left: 5%;
    padding-left: 32px;
    font-family: 'Fasthand', cursive;
    padding-top: 8px;
    padding-bottom: 8px;
}

.card:hover {
    background-color: rgb(245, 242, 240);
}

.dishHead {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: large;
    font-weight: bold;
}

.dishHead img {
    height: 24px;
    width: 24px;
    object-fit: contain;
    margin-right: 8px;
    cursor: pointer;
}

.dishDescription {
    width: 65%;
    font-size: x-small;
}

#dishprice {
    width: 65%;
    font-size: smaller;
    font-weight: bold;
}

.basketMain {
    position: fixed;
    left: 75%;
    top: 96px;
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

#basketSubMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: white;
    border-radius: 6px;
    font-family: 'Fasthand', cursive;
}

.menuCard {
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    background-color: rgb(239,237,234);
    margin-bottom: 8px;
}

.allDishesInCard {
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
}

.allDishesInCardDish {
    text-decoration: underline;
}

.allDishesInCardDish:hover {
    text-decoration: none;
}

.allDishesdescription {
    padding-left: 16px;
    padding-right: 16px;
    font-size: small;
}

.noteandicon {
    padding-left: 16px;
    padding-right: 16px;
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.noteandicon img {
    height: 24px;
    width: 24px;
    object-fit: contain;
}

footer {
    height: 96px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(239,237,234);
}

.footer-left {
    margin-left: 128px;
    font-family: 'Fasthand', cursive;
}

.footer-right {
    margin-right: 128px;
}

.footer-right a {
    text-decoration: none;
    color: black;
    margin-left: 32px;
    cursor: pointer;
}

.footer-right a:hover {
    text-decoration: underline;
    color: black;
    margin-left: 32px;
    cursor: pointer;
}